@import "tailwindcss";
@plugin "flowbite/plugin";
@source "../../node_modules/flowbite";
@custom-variant dark (&:where(.dark, .dark *));


.product::after{
    content: '';
    width: 45px ;
    height: 1px;
    background-color:#030712 ;
    position: absolute;
    top: 110%;
    left: 45%;
    z-index: 0;
}